* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  background-color: beige;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
ul li {
  padding: 10px;
}

header {
  color: #a3b18a;
  background-color: black;
  /*font-size: 80%;*/
}
header__titulo {
  display: flex;
  justify-content: center;
  font-size: 26px;
}
header__ul {
  display: flex;
}

.bot {
  background-color: #a3b18a;
  border: 30px;
  padding: 15px;
}
.bot:hover {
  background-color: #3a5a40;
}

footer {
  font-size: 13px;
  color: antiquewhite;
  background-color: black;
  text-align: left;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.conten {
  font-size: 18px;
}
.conten__boton {
  color: white;
  background-color: #3a5a40;
  padding: 35px 75px;
  border-radius: 20px;
}
.conten__boton:hover {
  background-color: #a3b18a;
}
.conten__entreno {
  display: flex;
  justify-content: left;
}

main {
  height: 100vh;
  /*border: 10px solid;*/
}

.portada {
  resize: both;
  overflow: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-attachment: fixed;
}

@media (max-width: 850px) {
  header {
    color: #a3b18a;
    background-color: black;
    font-size: 80%;
  }
  body {
    margin: 0;
    background-color: beige;
    position: relative;
  }
  main {
    height: 150%;
  }
  .conten {
    font: size 70%;
  }
  .bot {
    color: white;
    background-color: #a3b18a;
    border: 0px;
    padding: 15px;
    font-size: 40%;
  }
  .conten__boton {
    color: whitesmoke;
    background-color: #3a5a40;
    border: 0px;
    padding: 30px;
    font-size: 100%;
  }
}
.metodo {
  width: 100%;
  height: auto;
  justify-content: center;
}
.metodo__img {
  border-radius: 10%;
  width: 600px;
  height: 600px;
  float: right;
  border-radius: 20px;
}

@media (min-width: 360px) {
  .metodoimg {
    border-radius: 10%;
    width: 100px;
    height: 100px;
    float: right;
  }
  .metodocontein {
    margin-block-start: 0em;
    margin-block-end: 1em;
  }
}
@media (max-width: 600px) {
  .metodoimg {
    width: 300px;
    height: 300px;
    border-radius: 10%;
  }
  .metodocontein {
    margin-block-start: 0em;
    margin-block-end: 1em;
  }
}
#img1, #img2, #img3 {
  border-radius: 25%;
  width: 400px;
  height: 400px;
  margin-right: 25px;
  border-radius: 20px;
}

.contein {
  text-align: justify;
  margin-top: 10px;
  font-size: 22px;
}

@media (max-width: 850px) {
  #img1, #img2, #img3 {
    border-radius: 25%;
    width: 150px;
    height: 150px;
    margin-right: 25px;
    border-radius: 20px;
  }
}
.contenedortarjeta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin: 5px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px rgba(211, 211, 211, 0.8196078431);
  border-radius: 15px;
  font-family: sans-serif;
}
.tarjeta__titulo {
  font-size: 24px;
  padding: 10px 10px 0 10px;
  text-align: center;
}
.tarjeta__cuerpo {
  padding: 10px;
}
.tarjeta__pie {
  background: #3a5a40;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}
.tarjeta__pie a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

.tarjeta:hover {
  transform: translate(10px);
  transition: 700ms;
  background-color: rgb(196, 196, 196);
}

@media (max-width: 1220px) {
  .contenedortarjeta {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5px;
    margin: 5px;
  }
  .tarjeta {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px rgba(211, 211, 211, 0.8196078431);
    border-radius: 15px;
    font-family: sans-serif;
  }
}
#imgshop {
  border-radius: 25%;
  width: 300px;
  height: 300px;
  margin-right: 25px;
  border-radius: 20px;
}

.shopcontein {
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  justify-content: left;
}

@media (max-width: 850px) {
  #imgshop {
    border-radius: 25%;
    width: 100px;
    height: 100px;
    margin-right: 25px;
    border-radius: 20px;
  }
  .shopcontein {
    padding: 10px;
    margin-top: 10px;
    font-size: 10px;
    display: flex;
    justify-content: left;
  }
}

/*# sourceMappingURL=styles.css.map */
