#img1, #img2, #img3  {
    border-radius: 25%;
    width: 400px;
    height: 400px;
    margin-right: 25px;
    border-radius: 20px;
}
.contein {
    text-align: justify;
    margin-top: 10px;
    font-size: 22px;
}

@media (max-width: 850px){
    #img1, #img2, #img3 {
        border-radius: 25%;
        width: 150px;
        height: 150px;
        margin-right: 25px;
        border-radius: 20px;
}
}